$mq-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@import '~sass-mq/mq';

:root {
  --main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-lg: 2rem;
  --font-md: 1.2rem;
  --font-sm: 1.1rem;
  --font-default: 1rem;
  --white: #fff;
  --black: #000;
  --black-half: rgba(#000, 0.5);
  --black-quarter: rgba(#000, 0.25);
  --light-grey: #eee;
  --seafoam: #a0d6b4;
  --ocean: #94d5d7;
  --text: #333;

  @include mq(md) {
    --font-lg: 3rem;
    --font-md: 1.4rem;
    --font-sm: 1.2rem;
    --font-default: 1rem;
  }
}