$mq-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@import '~sass-mq/mq';

:root {
  --main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-lg: 2rem;
  --font-md: 1.2rem;
  --font-sm: 1.1rem;
  --font-default: 1rem;
  --light-grey: #eee;
  --seafoam: #a0d6b4;
  --ocean: #94d5d7;
  --text: #333;

  @include mq(md) {
    --font-lg: 3rem;
    --font-md: 1.4rem;
    --font-sm: 1.2rem;
    --font-default: 1rem;
  }
}


body {
  color: var(--text);
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--font-lg);
  font-weight: 700;
  margin: 0 0 25px;

  span {
    display: block;
    font-size: 80%;
    font-weight: 500;
  }
}

p {
  font-size: var(--font-default);
  font-weight: 400;
  line-height: 1.4;
}

.txt--lg {
  font-size: var(--font-md);
}

.btn {
  background-color: white;
  box-shadow: 2px 2px 5px rgba(black, 0.25);
  border-radius: 3px;
  color: black;
  display: inline-block;
  font-size: var(--font-sm);
  font-weight: 500;
  padding: 12px 24px;
  text-decoration: none;
  transition: 0.25s box-shadow, 0.25s background-color;

  &:hover,
  &:focus {
    background-color: var(--light-grey);
  }
  &:active {
    box-shadow: 0 0 8px rgba(black, 0.5);
  }
}

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 30px;
}

.section {
  padding: 50px 0;

  @include mq(md) {
    padding: 100px;
  }

  &--angle-down {
    clip-path: polygon(100% 0, 100% 85%, 80% 100%, 0% 90%, 0 0);
  }

  &--angle-up {
    clip-path: polygon(41% 0, 100% 4%, 100% 100%, 0 100%, 0 11%);
  }

  &--angle-both {
    clip-path: polygon(40% 0, 100% 5%, 100% 83%, 91% 100%, 0 88%, 0 11%);
  }

  &--seafoam {
    background-color: var(--seafoam);
  }

  &--ocean {
    background-color: var(--ocean);
  }
}

.clients {
  display: grid;
  grid-template-columns: repeat(2, 50%);

  @include mq(md) {
    grid-template-columns: repeat(4, 25%);
  }
}

.clients__col {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.clients__logo {
  height: auto;
  max-height: 100px;
  max-width: 100%;
  opacity: 0.75;
}